@page "/"

<PageTitle>R. Torzynki &ndash; Blazor & ASP.NET Web Developer</PageTitle>

<div class="hidden fixed xl:block left-0 w-32 2xl:w-56 h-screen">
    <div class="w-full h-full flex items-end">
        <div class="w-full flex flex-col items-center px-16 pt-16 gap-6">
            <a href="https://github.com/RyanTT" target="_blank"
                class="text-white transition-preset opacity-75 hover:opacity-100 hover:-translate-y-1">
                <ion-icon name="logo-github" class="h-10 w-10"></ion-icon>
            </a>

            <a href="https://www.linkedin.com/in/ryan-torzynski-66919318b/" target="_blank"
                class="text-white transition-preset opacity-75 hover:opacity-100 hover:-translate-y-1">
                <ion-icon name="logo-linkedin" class="h-10 w-10"></ion-icon>
            </a>

            <div class="h-24 w-[1px] bg-white opacity-75">

            </div>
        </div>
    </div>
</div>

<div class="h-screen w-full flex items-center justify-center">
    <div class="container lg:max-w-5xl px-4">
        <div class="font-mono text-2xl text-indigo-500">
            Hi! My name's Ryan Torzynski.
        </div>
        <h1 class="text-4xl font-bold mt-2">
            <span class="font-bold mb-1 mr-0 lg:mr-3 lg:mb-0 text-slate-200">
                I'm a full stack web developer utilizing <br />
                <span
                    class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-600 to-yellow-200">Blazor
                    & ASP.NET Core
                </span>
            </span>
        </h1>

        <div class="mt-10">
            <p class="text-xl max-w-lg leading-relaxed">
                I'm a Berlin based .NET developer that specializes in building web experiences with <b
                    class="font-semibold">Blazor</b> and
                <b class="font-semibold">ASP.NET Core</b>.
            </p>
        </div>
    </div>
</div>

<div class="py-44">
    <div class="container lg:max-w-5xl mx-auto px-4">
        <div class="flex items-center">
            <h1 class="text-3xl font-mono text-slate-200"><span class=" text-indigo-500">//</span> About me</h1>
        </div>

        <div class="mt-14 flex flex-col lg:flex-row gap-20">
            <div class="order-2 lg:order-1">
                <div class="text-xl">
                    <p class="leading-relaxed">
                        Hello! My name's Ryan and I enjoy creating web based applications
                        with .NET Blazor. Starting in 2016, I started fiddling around with web based technologies.
                        Basics first,
                        so lots and lots of horrible looking web pages with <span
                            class="text-indigo-500">WebForms</span>! When <span class="text-indigo-500">.NET
                            Core</span> and <span class="text-indigo-500">ASP.NET Core</span> were released, I adopted
                        them into my tech stack early on as they both provided a much nicer developer experience with
                        <span class="text-indigo-500">Razor Pages</span>. The same
                        applies to <span class="text-indigo-500">Blazor</span>, which has become my go-to standard for
                        building rich UIs on the web since day one it was released.
                    </p>
                </div>

                <div class="text-xl mt-8">
                    <p>
                        Below are some things that I actively work with on a day to day basis:
                    </p>

                    <ul class="list-disc list-inside mt-4 leading-relaxed">
                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                ASP.NET Core
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                Blazor WebAssembly & Server
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                Razor Pages
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                EntityFramework Core
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                Visual Studio & Visual Studio Code
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                Git
                            </span>
                        </li>

                        <li class="text-indigo-500">
                            <span class="text-slate-400">
                                Docker
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex-shrink-0 order-1 lg:order-2 self-center lg:self-start">
                <div class="w-72 h-72 relative group ">
                    <img class="absolute left-0 top-0 z-10 w-64 border-4 border-slate-900 border-separate rounded-lg"
                        src="/assets/images/photo.webp" />
                    <div
                        class="absolute h-64 w-64 top-8 right-0 transition-all duration-200 ease-in-out group-hover:top-7 group-hover:right-1 group-hover:bg-indigo-600 border-4 rounded-lg border-indigo-600">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>